.header {
    display: flex;
    flex-flow: column nowrap;

    padding-top: 4rem;
}
.header .card[on-screen] {
    animation: fade-from-right 0.6s ease-in-out;
}

.header__top {
    width: 100%;

    display: flex;
    gap: 5rem;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;

    gap: 2rem;

    max-width: 61rem;

    color: var(--color-main);
}
.header__content[on-screen] {
    animation: fade-from-left 0.6s ease-in-out;
}

.header__content span {
    font-size: 1.6rem;
    font-weight: 800;
}

.header__content p {
    margin: 0;

    font-size: 2.2rem;
}

.header__content h1 {
    margin: 0;
    
    font-size: 6.4rem;
    font-weight: 800;
    line-height: 6.725rem;
}

.header__bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4rem 0rem;
}
.header__bottom[on-screen] {
    animation: fade-from-left 0.6s ease-in-out;
}

/* Acessibilidade */
@media (prefers-reduced-motion: reduce) {
    .header__bottom[on-screen] {
        animation: none;
    }
    .header__content[on-screen] {
        animation: none;
    }
    .header .card[on-screen] {
        animation: none;
    }
}

@media (max-width: 800px) {
    .header__content {
        align-items: center;

        padding: 0rem 1rem;
        max-width: auto;
        width: 100vw;

        gap: 1rem;
    }

    .header__top {
        gap: 2rem;
    }

    .header__content h1 {
        font-size: 4rem;
        text-align: center;
        line-height: 4.5rem;
    }

    .header__content span {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .header__content p {
        font-size: 1.5rem;
        text-align: center;
    }
}