.nav {
    position: fixed;

    width: 100vw;
    height: 8rem;

    display: flex;
    gap: 2rem;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    z-index: 1000;

    background-color: var(--color-background);
    animation: fade-from-up 0.45s ease-in-out;
}

.nav a {
    color: var(--color-main);
    text-decoration: none;

    font-size: 1.5rem;
    font-weight: 700;

    transition: color 0.15s ease-in-out;
}

.nav a:hover {
    color: var(--color-secondary);
}

main {
    padding-top: 8rem;
}

@media (max-width: 700px) {
    .nav a {
        font-size: 3vw;
    }

    main {
        padding-top: 6rem;
    }
}