.newsletter {
    padding-top: 6rem;
    padding-bottom: 12rem;

    display: flex;
    gap: 2rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    color: var(--color-main);
}

.newsletter h2 {
    margin: 0;
    font-size: 3.5rem;
    text-align: center;
}

.newsletter p {
    margin: 0;

    font-size: 1.8rem;
    text-align: center;

    max-width: 42vw;
}

.newsletter__form {
    display: flex;

    padding: 0.5rem;
    background-color: var(--color-main);

    border-radius: 1rem;
    width: 50rem;
}

.newsletter__form input[type="text"] {
    flex: 1;
    margin: 0.4rem;
    margin-left: 1.5rem;

    min-width: 0rem;

    border: none;
    outline: none;
}

.newsletter__form input[type="text"]::placeholder {
    font-weight: 800;
}

@media (max-width: 1000px) {
    .newsletter__form {
        flex-flow: column;

        width: 90%;
    }

    .newsletter__form input[type="text"] {
        min-height: 5rem;
    }

    .newsletter h2 {
        margin: 0;
        font-size: 2.5rem;
    }   

    .newsletter p {
        font-size: 1.5rem;
        max-width: 90vw;
    }
}

