/* Abstratos */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;800&display=swap');
@import url(./abstracts/variables.css); /* Variáveis Globais*/
@import url(./abstracts/keyframes.css); /* Animações */
/* Componentes */
@import url(./components/button.css);

/* Estilos Gerais */
html, body {
    margin: 0;
    padding: 0;

    font-size: 62.5%;
    scroll-behavior: smooth;
}

html * {
    font-family: 'Poppins' !important;
}